{% extends "base.html" %}

{% block title %}Процессоры{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Добавляем кнопку "На главную" перед заголовком -->
    <div class="mb-3">
        <a href="{{ url_for('home') }}" class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door me-1" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
            </svg>
            На главную
        </a>
    </div>

    <h2 class="text-center mb-4">Процессоры</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for cpu in cpus %}
            {% set specs %}
            <ul class="list-unstyled">
                <li><strong>Частота:</strong> {{ cpu.frequency }}</li>
                <li><strong>Сокет:</strong> {{ cpu.socket }}</li>
                <li><strong>Число ядер:</strong> {{ cpu.cores }}</li>
            </ul>
            {% endset %}

            {% with
                id=cpu.id,
                name=cpu.name,
                price=cpu.price,
                images=cpu.images,
                specs=specs,
                product_type='cpu'
            %}
                {% include "base_product.html" %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}